* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  display: flex;
  padding: 3%;
}
.m1 {
  width: 50vw;
  background-color: #ffc533;
  color: #334155;
  height: 100vh;
}
.m2 {
  width: 50vw;
  background-color: #0f172a;
  color: #ffbf1f;
  height: 100vh;
}
.lst {
  list-style: none;
}
.imz {
  height: 40vh;
  width: 40vw;
}
